body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #f7f7f7;
  width: 482px;
  height: 687px;
}

header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 73px;
}

header h3 {
  font-size: 26px;
}

.subcontainer,
.subcomment {
  display: flex;
  justify-content: space-between;
  font-size: 2px;
}

.subcontainer {
  padding-top: 13px;
}

.subcomment {
  width: 200px;
}

.subcomment li {
  list-style: none;
}

main {
  background-color: #f6f6f4;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 17px 1px 1px 1px #e2dcd762;
}

.circle_container {
  width: 427px;
  height: 417px;
}

.circle_container {
  display: flex;
  flex-wrap: wrap;
}
.circle {
  margin: 0 auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.powderblue {
  background-color: #bce2f3;
  border: 1px solid #c6e4ef;
}

.dimgray {
  background-color: #616365;
  border: 1px solid #605f62;
}

.teal {
  background-color: #04a565;
  border: 1px solid #6db48d;
}
